body{
    background-color: rgb(141, 6, 130);
    font: normal 20pt italic;
    
}

header{
    color: rgb(255, 255, 255);
    text-align: center;

}

section{
    background: rgba(115, 117, 117, 0.486);
    border-radius: 20px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 3px 3px 6px rgb(255, 24, 205);
    text-align: center;
}

footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font: 15pt;
    text-decoration: underline;

}
h1{
    color: rgb(0, 0, 0);
}
div{
    color: rgb(255, 239, 239);
    padding: 10px;
}
